header {
    background-color: #F8F9FA;
    height: 8vh;
}

main {
    height: 92vh;
}

.nav-link {
    color: black;
}

#sidebar {
    background-image: url(../img/sidebar-bg.png);
    min-height: 92vh;
}

.topbar {
    height: 6rem;
}

#user {
    position: absolute;
    bottom: 2rem;
    
}

